* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR STYLES */
/* NEED TO SET UP MEDIA QUERY FOR MENU: MENU SHOULD REDUCE INTO TRIPPLE LINE IMG AFTER MAX-WIDTH=~500 */
#navLogo{
  height: 10vh;
  width: 13vh;
  font-family: "Open Sans", sans-serif;
}
nav{
  height: 10px;
  display: flex;
  align-items: center;
  margin-top: 5vh;
  
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5%;
  /* font-family: "Open Sans", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar-list a{
  color: black;
  text-decoration: none;
  margin-left: 3vw;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}
.navbar-list a:hover{
  color: cornflowerblue;
}
@media (max-width: 500px){
  nav{
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1vh;
      /* border: black 2px solid */
  }
}
@media (max-width: 500px){
  .navbar-list a {
      margin-right: 7vw;
      text-align: center;
  }
}
@media (max-width: 500px){
  .navbar-list{
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}
.carouselArt{
  margin-top: 25px;
}
/* .bannerPic{
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top: 4vh;
} */


/* HOME PAGE BODY STYLES */
.homeHeader2{
  text-align: center;
  margin-top: -4px;
  z-index: 10;
  padding: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#opener{
  font-weight: 100;
  font-size: 24px;
}
#opener2{
  font-weight: 100;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 25px;
}
.homeSection1{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homeSection1 p{
  text-align: center;
  font-weight: 100;
  width: 50%;
  font-size: 18px;
  font-style: italic;
  padding: 15px;
}

.homeSection1Pic{
  height: auto;
  width: 50vw;
}
.homeSection2{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:  rgba(211, 211, 211, 0.397);
  padding: 1px;
}
.homeSection2 h2{
  font-size: 25px;
  font-weight: 200;
}
.homeSection2 p{
  font-size: 13px;
  font-weight: 100;
  width: 60%;
  padding-left: 20%;
  /* padding-right: 10vw; */
  padding-bottom: 0.1px;
}
.homeSection3{
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homeSection3 p{
  text-align: center;
  font-weight: 100;
  width: 70%;
  font-size: 18px;
  font-style: italic;
  padding: 15px;
}
.homeSection4{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 500px){
  .homeSection4 {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .eleGroup{
    text-align: center;
    padding-bottom: 15vh;
    font-size: 13px;
  }
}
.element1{
  height: 100px;
  width: auto;
}
@media{}
.eleGroup p{
  font-size: 14px;
  font-weight: 300;
  width: 25vw;
}
@media (max-width:500px){
  .eleGroup p{
    width: 70vw;
  }
}
.eleGroup a{
  text-decoration: none;
  color: black;
}
.eleGroup a:hover{
  color: cornflowerblue;
}
/* #elep{
  padding-top: 15px;
} */
.homeSection5{
  text-align: center;
  padding: 5px;
  padding-left: 5vw;
  padding-right: 5vw;
  /* margin-top: 0px;  */
  background-color: rgba(211, 211, 211, 0.397);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeSection5 h3{
  font-size: 25;
  font-weight: 200;
}
.homeSection5 p{
  font-size: 15px;
  font-weight: 100;
  width: 400px;
  margin-top: -8px;
}
.homeSwal{
  font-size: 10px;
}
swal-title{
  font-size: 5px;
}
/* .serviceButton{
  width: 90px;
  color: white;
  background-color: #101064c7;
  border-radius: 2%;
  border: darkgray  3px;
  border-style: double;
} */

/* SERVICES PAGE STYLES */
.serviceTotal{
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.servHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servHeader h3{
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin-top: -40px;
  /* width: 650px; */
}
.servHeader p{
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin-top: -20px;
  width: 450px;
}
.servIntroLine{
  font-size: 30px;
  font-weight: 200;
  margin-bottom: -10px;
  text-align: center;
}
.servArt p a{
  color: black;
  text-decoration: none;
}
.servArt p a:hover{
  color: cornflowerblue;
}
.divOfSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divOfSec p{
  width: 300px;
  margin-top: -20px;
}
.servSec1{
  display: flex;
}
.servSec2{
  display: flex;
}
.servSec3{
  display: flex;
}
@media (max-width: 600px){
  .servSec1{
    display: flex;
    flex-direction: column;
  }
  .servSec2{
    display: flex;
    flex-direction: column;
  }
  .servSec3{
    display: flex;
    flex-direction: column;
  }
}
.servArt h5{
  font-size: 20px;
  font-weight: 200;
}
.servArt{
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid gray;
}
.servSec4 h5{
  font-size: 20px;
  font-weight: 200;
  margin-left: -40px;
}
.servList{
  margin-top: -20px;
  margin-left: -60px;
  list-style: circle;
}



/* MEET OUR TEAM PAGE STYLES */
.teamPage{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.teamIntro{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamIntro h2{
  margin-top: 40px;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
}
.teamIntro p{
  text-align: center;
  width: 540px;
  margin-top: -18px;
  font-weight: 200;
}
.Tsec1{
  display: flex;
  align-items: center;
}
.Tsec1 h4{
  font-weight: 300;
  font-size: 20px;
}
.Tsec1 p{
  font-weight: 100;
  font-size: 14px;
  margin-top: -15px;
}
.Tsec1Pic{
  height: auto;
  width: 30vw;
  /* margin-left: 20px; */
}
.textBox1{
  padding-left: 10px;
  padding-right: 20px;
}
.textBox2{
  padding-right: 10px;
  padding-left: 20px;
}
.Tsec2{
  display: flex;
  align-items: center;
  text-align: right;
}
.Tsec2 h4{
  font-weight: 300;
  font-size: 20px;
}
.Tsec2 p{
  font-weight: 100;
  font-size: 14px;
  margin-top: -15px;
}
.Tsec2Pic{
  height: auto;
  width: 30vw;
}

/* CASE MANAGERS PAGE STYLES */


/* REFERRING PHYSICIANS PAGE STYLES */
.physHeads{
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

/* CONTACT US PAGE STYLES */
#totalContact{
  margin-left: 5vw;
}
.bruceContactPic{
  height: 250px;
  width: auto;
}
.contactHeader h2{
  font-size: 40px;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactDiv1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactDiv1 h5{
  margin-bottom: 10px;
}
.contactDiv1 p{
  margin-top: -10px;
  font-size: 14px;
  font-weight: 250;
}


/* FOOTER STYLES */
footer{
  margin-top: 40px;
  font-size: 8px;
  font-weight: 100;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}